
{% extends "base.html" %}
{% load static %}
{% block content %}

{% block hero %}
{% include "hero.html" %}
{% endblock hero %}

  <main id="main">

    {% block about %}
    {% include "about.html" %}
    {% endblock about %}

    {% block skills %}
    {% include "skills.html" %}
    {% endblock skills %}

    {% block portfolio %}
    {% include "portfolio.html" %}
    {% endblock portfolio %}

    {% block services %}
    {% include "services.html" %}
    {% endblock services %}

    {% block testimonials %}
    {% include "testimonials.html" %}
    {% endblock testimonials %}

    {% block contact %}
    {% include "contact.html" %}
    {% endblock contact %}

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock content %}